@use "./variables" as *;
@use "./fonts" as *;
@use "./mixins" as *;

body {
	margin: 0;
	padding: 0;
	font-family: "Avenir";
}

h1 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;

	@include tablet {
		font-size: 3.75rem;
		line-height: 4.25rem;
		font-weight: 600;
	}
}

h2 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;

	@include tablet {
		font-size: 2.25rem;
		line-height: 2.75rem;
		font-weight: 700;
	}
}

h3 {
	font-size: 0.875rem;
	font-weight: 600;

	@include tablet {
		font-size: 1.5rem;
		line: height 2rem;
		font-weight: 600;
	}
}

p {
	font-size: 0.8125rem;
	font-weight: 400;
	line-height: 1.125rem;

	@include tablet {
		font-size: 0.875rem;
		line-height: 1.375rem;
		font-weight: 400;
	}
}

// HEADER //

header {
	background-color: $Bandsite-black;
	width: 100%;

	@include tablet {
		display: flex;
		align-items: flex-end;
		gap: 4rem;
	}

	.header-logo {
		margin: 0;
		color: $primarywhite;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 400;
		padding: 0.8rem 0rem 0.18rem 0rem;

		@include tablet {
			padding: 0.8rem 0 0.75rem 2rem;
		}

		a {
			text-decoration: none;
			color: $primarywhite;
		}
	}

	.header-nav {
		&__list {
			list-style-type: none;
			width: 100%;
			padding: 0;
			margin: 0;
			@include flex-center;

			li {
				flex: 1;
				text-align: center;
				width: 50%;

				@include tablet {
					margin-right: 3.5rem;
					padding-bottom: 1rem;
				}
			}

			li a {
				display: block;
				width: 100%;
				text-decoration: none;
				color: $primarywhite;
				font-size: 0.85em;
				font-weight: 600;
				padding-bottom: 0.6rem;
			}

			.active-page {
				border-bottom: 3px solid $primarywhite;
			}

			.inactive-page {
				border-bottom: 3px solid transparent;

				a {
					font-weight: 400;
					color: $secondarygrey;
				}
			}
		}
	}
}

// HERO //

.hero {
	background-image: url(../../Assets/Images/hero-bio.jpg);
	background-size: cover;
	background-position: center;
	height: 11.65rem;

	@include tablet {
		height: 28.1rem;
	}

	&__overlay {
		background-color: $Bandsite-black-50;
		display: flex;
		align-items: center;
		height: 100%;
		z-index: 1;

		h1 {
			color: $primarywhite;
			padding: 0.25rem 0 0 1rem;

			@include tablet {
				padding: 0.25rem 0 0 2.5rem;
			}
		}
	}
}

// BIOGRAPHY ARTICLE //

.bio {
	padding: 0 0.95rem 0 0.9rem;
	color: $Bandsite-black;
	background-color: $primarywhite;

	h2 {
		margin: 0.8em 0 0.4em 0;
	}

	.bio-quote {
		img {
			width: 100%;
			height: auto;
		}

		.quote {
			font-weight: 600;
			font-size: 0.85rem;
			word-spacing: 0.1rem;
		}
	}

	.bio-text {
		.bio-text__header {
			margin-top: 1.5rem;
			font-weight: 600;
		}

		.bio-text__1 {
			padding-right: 0.86rem;
		}

		.bio-text__2 {
			padding-right: 0.7rem;
		}
	}
}

// PHOTO GALLERY //

.photo-gallery {
	background-color: $secondarywhite;
	padding: 0.1rem 0.95rem 1rem 0.9rem;

	h2 {
		margin-bottom: 0.7rem;
	}

	.gallery {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		flex-direction: column;

		&__img {
			width: 100%;
		}
	}
}

// FOOTER //

footer {
	background-color: $Bandsite-black;
	color: $primarywhite;
	padding-left: 1.5rem;

	h2 {
		margin: 0 0 0.8rem 0;
		padding-top: 1.65rem;
	}

	.social-images {
		display: flex;
		gap: 2rem;
		align-items: center;

		img {
			width: auto;
			height: 1.5rem;
		}
	}

	.contact-info {
		margin-top: 1.25rem;
		line-height: 150%;

		h3 {
			margin-bottom: 0.9rem;
		}
	}

	.bandsite-text {
		font-weight: 400;
		margin-bottom: 0;
	}

	.copyright {
		margin-bottom: 0;
		padding-bottom: 1.5rem;
		font-size: 0.7rem;
		font-weight: 400;
	}
}
