$Bandsite-black: #323232;
$primarygrey: #afafaf;
$primarywhite: #ffffff;
$darkBlack: #000000;
$secondarygrey: #e1e1e1;
$secondarywhite: #fafafa;

$Bandsite-black-50: rgba(50, 50, 50, 0.5);

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
