@use "./Partials/global" as *;
@use "./Partials/mixins" as *;
@use "./Partials/variables" as *;
@use "./Partials/fonts" as *;

// HERO //

.hero {
	background-image: url(../../Assets/Images/hero-bio.jpg);
	background-size: cover;
	background-position: center;
	height: 22.5vh;

	@include tablet {
		height: 54.75vh;
	}

	@include desktop {
		height: 76.5vh;
	}

	&__overlay {
		background-color: $Bandsite-black-50;
		display: flex;
		align-items: center;
		height: 100%;
		z-index: 1;

		h1 {
			color: $primarywhite;
			padding: 0.25rem 0 0 1rem;

			@include tablet {
				padding: 0.25rem 0 0 2.5rem;
			}

			@include desktop {
				padding: 0.25rem 0 0 8.15rem;
				word-spacing: 0.25rem;
			}
		}
	}
}

// BIOGRAPHY ARTICLE //

.bio {
	padding: 0 0.95rem 0 0.9rem;
	background-color: $primarywhite;

	h2 {
		margin: 0.8rem 0 0.4rem 0;

		@include tablet {
			margin: 3.1rem 0 1.5rem 1.3rem;
			font-weight: 600;
		}

		@include desktop {
			padding-left: 6rem;
			margin-bottom: 2.15rem;
		}
	}

	.bio-quote {
		@include tablet {
			@include flex-center-horizontal;
			width: 100%;
		}

		&__wrapper {
			@include tablet {
				display: flex;
				flex-direction: column;
				width: 78%;
			}

			@include desktop {
				width: 67.5%;
			}

			.quote-image {
				@include tablet {
					height: 37.5vh;
				}

				@include desktop {
					height: 54.75vh;
				}

				img {
					width: 100%;
					object-fit: cover;

					@include tablet {
						height: 100%;
						object-fit: cover;
						object-position: center;
					}
				}
			}

			.quote {
				font-weight: 600;
				font-size: 0.85rem;
				word-spacing: 0.1rem;
				line-height: 1.375rem;
				margin: 0.55rem 0 0.3rem 0;

				@include tablet {
					font-size: 1.3rem;
					word-spacing: 0.1rem;
					line-height: 1.95rem;
					margin: 1.95rem 0 0.5rem 0;
					padding-right: 1.85rem;
				}

				@include desktop {
					width: 79%;
					font-size: 1.35rem;
				}
			}

			.quote--small {
				margin: 0;

				@include tablet {
					font-size: 1rem;
				}
			}
		}
	}

	.bio-text {
		@include tablet {
			@include flex-center-horizontal;
		}

		&__wrapper {
			width: 94.5%;
			@include flex-center-horizontal;
			flex-wrap: wrap;

			@include tablet {
				width: 78%;
				gap: 1.5rem;
				margin-bottom: 2rem;
			}

			@include desktop {
				width: 68%;
				gap: 1.25rem;
			}

			h3 {
				width: 100%;
				margin: 1.5rem 0 1rem 0;

				@include tablet {
					margin: 3rem 0 0 0;
				}
			}

			.bio-text__1 {
				font-size: 0.8rem;
				padding-right: 0.15rem;

				@include tablet {
					width: 47%;
					margin-top: 0;
					font-size: 0.8125rem;
					padding: 0;
				}

				@include desktop {
					width: 48.5%;
				}
			}

			.bio-text__2 {
				font-size: 0.8rem;

				@include tablet {
					width: 47%;
					margin-top: 0;
					font-size: 0.8125rem;
					padding: 0;
				}

				@include desktop {
					width: 49%;
				}
			}
		}
	}
}

// PHOTO GALLERY //

.photo-gallery {
	background-color: $secondarywhite;
	padding: 1rem 0.95rem 1rem 1rem;

	h2 {
		margin-bottom: 0.7rem;

		@include tablet {
			font-weight: 600;
			margin: 3.1rem 0 1.25rem 1.25rem;
		}

		@include desktop {
			margin: 3.1rem 0 2rem 7.25rem;
		}
	}

	.gallery {
		display: flex;
		justify-content: space-between;
		gap: 0.5rem;
		flex-direction: column;

		@include tablet {
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0 1.25rem;
		}

		@include desktop {
			margin: 0 7.25rem 0.9rem 7.25rem;
		}

		&__img {
			overflow: hidden;

			img {
				width: 100%;
				transition: transform 0.3s ease-in-out;

				&:hover {
					transform: scale(1.5);
				}
			}

			@include tablet {
				width: 31%;
			}

			@include desktop {
				width: 31.9%;
			}
		}
	}
}

// COMMENTS //

.comments {
	padding: 0 1rem;
	margin-bottom: 3rem;

	@include tablet {
		padding: 2rem 2rem 0 2rem;
	}

	h2 {
		@include tablet {
			font-size: 2.25rem;
			font-weight: 600;
		}
	}

	.new-comments {
		display: flex;
		gap: 1rem;
		align-items: flex-start;
		border-bottom: 1px solid $secondarygrey;

		@include tablet {
			margin: 0 4rem;
			gap: 0.6rem;
		}

		.user-image-container {
			.user-image {
				@include user-image;

				@include tablet {
					width: 3rem;
					height: 3rem;
				}
			}
		}

		.form-wrapper {
			width: 95%;

			form {
				ul {
					width: 100%;
					list-style-type: none;
					padding: 0;
					margin: 0 0 1rem 0;
					color: $primarygrey;
					font-size: 0.6rem;

					li {
						width: 100%;
						display: grid;

						label {
							margin-bottom: 0.25rem;
							display: block;
						}

						input {
							box-sizing: border-box;
							width: auto;
							background-color: $secondarywhite;
							border: 1px solid $secondarygrey;
							border-radius: 0.25rem;
							min-height: 2.25rem;
							font-family: "AvenirNext", "Segoe UI", Tahoma, Geneva, Verdana,
								sans-serif;
							resize: none;
							margin-bottom: 1.5rem;

							&:active {
								border: 1px solid $Bandsite-black;
							}
						}

						#comment {
							@extend input;
							min-height: 5rem;
							padding-top: 0.5rem;
						}
					}
				}
			}
		}
	}

	.posted-comments {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		@include tablet {
			margin: 0rem 4rem;
		}

		.comment-block {
			display: flex;
			gap: 1rem;
			border-bottom: 1px solid $secondarygrey;
			width: 100%;

			.user-image-container {
				.user-image {
					@include user-image;

					@include tablet {
						width: 3rem;
						height: 3rem;
					}
				}

				.null-img {
					width: 2.25rem;
					height: 2.25rem;
					border-radius: 50%;
					background-color: $secondarygrey;
					margin-top: 1.5rem;

					@include tablet {
						width: 3rem;
						height: 3rem;
					}
				}
			}

			.comments__wrapper {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				h5 {
					margin: 0.825rem 0 0 0;
					font-weight: 600;
				}

				.time-stamp {
					color: $primarygrey;
					margin-bottom: 0;
				}

				.user-comment {
					width: 100%;
					margin-top: 0.25rem;
				}
			}
		}
	}
}
