@use "./Partials/global" as *;
@use "./Partials/mixins" as *;
@use "./Partials/variables" as *;
@use "./Partials/fonts" as *;

// HEADER //

header {
	background-color: $Bandsite-black;
	width: 100%;

	@include tablet {
		display: flex;
		align-items: flex-end;
		gap: 4rem;
	}

	@include desktop {
		gap: 3.9rem;
	}

	.header-logo {
		margin: 0;
		color: $primarywhite;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 400;
		padding: 0.8rem 0rem 0.18rem 0rem;

		@include tablet {
			padding: 0.8rem 0 0.75rem 2rem;
		}

		@include desktop {
			padding: 1.5rem 0 1rem 8rem;
			font-size: 1.475rem;
		}

		a {
			text-decoration: none;
			color: $primarywhite;
		}
	}

	.header-nav {
		&__list {
			list-style-type: none;
			width: 100%;
			padding: 0;
			margin: 0;
			@include flex-center;

			li {
				flex: 1;
				text-align: center;
				width: 50%;

				@include tablet {
					margin-right: 3.5rem;
					padding-bottom: 1rem;
				}

				@include desktop {
					margin-right: 2rem;
					padding-bottom: 1rem;
				}
			}

			li a {
				display: block;
				width: 100%;
				text-decoration: none;
				color: $primarywhite;
				font-size: 0.8125rem;
				font-weight: 600;
				padding-bottom: 0.6rem;

				@include tablet {
					font-size: 0.875rem;
				}
			}

			.active-page {
				border-bottom: 3px solid $primarywhite;
			}

			.inactive-page {
				border-bottom: 3px solid transparent;

				a {
					font-weight: 400;
					color: $secondarygrey;
				}
			}
		}
	}
}

// HERO //

.hero {
	background-image: url(../../Assets/Images/hero-bio.jpg);
	background-size: cover;
	background-position: center;
	height: 11.65rem;

	@include tablet {
		height: 28.1rem;
	}

	@include desktop {
		height: 39.5rem;
	}

	&__overlay {
		background-color: $Bandsite-black-50;
		display: flex;
		align-items: center;
		height: 100%;
		z-index: 1;

		h1 {
			color: $primarywhite;
			padding: 0.25rem 0 0 1rem;

			@include tablet {
				padding: 0.25rem 0 0 2.5rem;
			}

			@include desktop {
				padding: 0.25rem 0 0 8.15rem;
				word-spacing: 0.25rem;
			}
		}
	}
}

// BIOGRAPHY ARTICLE //

.bio {
	padding: 0 0.95rem 0 0.9rem;
	color: $Bandsite-black;
	background-color: $primarywhite;

	h2 {
		margin: 0.8rem 0 0.4rem 0;

		@include tablet {
			margin: 3.1rem 0 1.5rem 1.3rem;
			font-weight: 600;
		}

		@include desktop {
			padding-left: 6rem;
			margin-bottom: 2.15rem;
		}
	}

	.bio-quote {
		@include tablet {
			display: flex;
			justify-content: center;
			width: 100%;
		}

		&__wrapper {
			@include tablet {
				display: flex;
				flex-direction: column;
				width: 78%;
			}

			@include desktop {
				width: 67.5%;
			}

			.quote-image {
				@include tablet {
					height: 19rem;
				}

				@include desktop {
					height: 28.25rem;
				}

				img {
					width: 100%;

					@include tablet {
						height: 19rem;
						object-fit: cover;
					}

					@include desktop {
						height: 28.25rem;
						object-fit: cover;
					}
				}
			}

			.quote {
				font-weight: 600;
				font-size: 0.85rem;
				word-spacing: 0.1rem;

				@include tablet {
					font-size: 1.3rem;
					word-spacing: 0.1rem;
					line-height: 1.95rem;
					margin: 1.95rem 0 0.5rem 0;
					padding-right: 1.85rem;
				}

				@include desktop {
					width: 79%;
					font-size: 1.35rem;
				}
			}

			.quote--small {
				@include tablet {
					font-size: 1rem;
					margin: 0;
				}
			}
		}
	}

	.bio-text {
		@include tablet {
			margin: 0 5rem 2rem 5rem;
		}

		@include desktop {
			margin: 0 5rem 2rem 12.75rem;
		}

		&__header {
			margin-top: 1.5rem;
			font-weight: 600;
		}

		&__wrapper {
			@include tablet {
				display: flex;
				justify-content: flex-start;
				gap: 1.4rem;
			}

			@include desktop {
				gap: 1.2rem;
			}
		}

		.bio-text__1 {
			padding-right: 0.86rem;

			@include tablet {
				padding: 0;
				margin: 0;
				width: 50%;
			}

			@include desktop {
				width: 43%;
			}
		}

		.bio-text__2 {
			padding-right: 0.7rem;

			@include tablet {
				padding: 0;
				margin: 0;
				width: 50%;
			}

			@include desktop {
				width: 43%;
			}
		}
	}
}

// PHOTO GALLERY //

.photo-gallery {
	background-color: $secondarywhite;
	padding: 0.1rem 0.95rem 1rem 0.9rem;

	h2 {
		margin-bottom: 0.7rem;

		@include tablet {
			font-weight: 600;
			margin: 3.1rem 0 1.25rem 0;
		}

		@include desktop {
			margin: 3.1rem 0 2rem 7.25rem;
		}
	}

	.gallery {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		flex-direction: column;

		@include tablet {
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0 1.25rem;
		}

		@include desktop {
			margin: 0 7.25rem 0.9rem 7.25rem;
		}

		&__img {
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
				transition: transform 0.3s ease-in-out;
				transform-origin: center center;

				&:hover {
					transform: scale(1.5);
				}
			}

			@include tablet {
				width: 31%;
			}

			@include desktop {
				width: 31.9%;
			}
		}
	}
}
